.card {
  min-height: 300px;
  min-width: 200px;
  padding: 0.8rem;
  background-color: aliceblue;
  border-radius: 0.8rem;
}

.card:not(.is-open):hover {
  cursor: pointer;
}

.title {
  margin-bottom: 0.8rem;
}