.card {
  display: flex;
  flex-flow: column;
  height: 400px;
  padding: 0.8rem;
  background-color: aliceblue;
  border-radius: 0.8rem;
  position: relative;
}

.title {
  margin-bottom: 0.8rem;
}

.content,
.click-wrapper {
  height: 100%;
}

.click-wrapper:not(.is-open):hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  stroke: var(--stroke-color);
  cursor: pointer;
  transition: background-color var(--transition-fast), stroke var(--transition-fast);
}

.button:hover {
  stroke: white;
  background-color: var(--button-background);
  transition: background-color var(--transition), stroke var(--transition-fast);
}

.button svg {
  width: 1.6rem;
  height: 1.6rem;
  stroke: inherit;
  stroke-width: 2;
  fill: none;
}
