.wrapper {
  height: 3rem;
  width: 60%;
  position: relative;
}

.input {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 2rem;
  background-color: #ffffff50;
  font-family: var(--font-mono);
}

.input:focus {
  outline: none;
  transition: box-shadow var(--animation-duration) ease;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.1);
}

.input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  background-color: var(--button-background);
  color: white;
  border: none;
  height: 2.4rem;
  padding-inline: 0.8rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: transform var(--transition), opacity var(--transition),
    background-color var(--transition);
}

.button:hover {
  background-color: var(--button-background-hover);
  transition: background-color var(--transition);
}

.button.is-visible {
  transform: translate(-5%, -50%);
  opacity: 1;
  pointer-events: auto;
}
