.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.button {
  background-color: var(--button-background);
  color: white;
  border: none;
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.2rem;
  border-radius: 1.6rem;
  padding: 0 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity var(--transition-fast),
  background-color var(--transition-fast),
  width var(--transition);
}

.button::after {
  content: "New";
  opacity: 0;
  width: 0;
  transition: opacity var(--transition-fast),
    background-color var(--transition-fast),
    width var(--transition);
}

.button:hover {
  background-color: var(--button-background-hover);
  transition: background-color var(--transition-slow);
}

.button:hover::after {
  opacity: 1;
  width: 50px;
  transition: opacity var(--transition-slow),
    background-color var(--transition-slow),
    width var(--transition);
  pointer-events: auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1.6rem;
  width: 100%;
  height: calc(100vh - 7.6rem - 48px);
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.list::-webkit-scrollbar {
  display: none;
}
